body {
  font-family: "Inter", sans-serif;
  /* background-color: black; */
  color: white;
  margin-left: 60px;
  margin-right: 60px;

  background-image: url('https://images.pexels.com/photos/2525903/pexels-photo-2525903.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover; 
}

a {
  text-decoration: none;
  color: white;
}

div, button {
  font-family: "Inter", sans-serif;
}

.navbar-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.navbar-brand {
  font-size: 25px;
}

.navbar-brand-caption {
  font-size: small;
  cursor: default;
}

.navbar-button {
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
  font-weight: 500;
  cursor: pointer;

}

.navbar-button:active {
  opacity: 0.5;
}


.todolist-title {
  margin-top: 50px;
  margin-left: 60px;
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.todo-text {
  padding: 10px;
  
}

.input-text-date-btn {
  display: grid;
  justify-content: center;
  grid-template-columns: 600px 150px 100px;
  column-gap: 10px;
}

.todo-output {
  text-align: center;
  margin-top: 20px;

  display: grid;
  justify-content: center;
  grid-template-columns: 600px 150px 100px;
  column-gap: 10px;

}


footer {
  margin-top: auto;
  text-align: center;
}


.add-btn {
  background-color: #60a561;
  font-size: 15px;
  border: none;
  color: white;
  cursor: pointer;
}

.add-btn:active, .delete-btn:active {
  opacity: 0.5;
}

.delete-btn {
  background-color: #e34a6f;
  border: none;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.name-div, .dueDate-div {
  background-color: white;
  color: black;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 10px;
}

.name-div {
  text-align: start;
  text-transform: capitalize;
}

.night-button {
  background-color: black;
  color: white;
}

.day-button {
  background-color: white;
  color: black;
}

.footer-greet {
  text-align: center;
  margin-top: 370px;
}
